/* (A) GRID CONTAINER */
#grid-layout {
  display: grid;
  grid-gap: 10px;
  /* DESIGN YOUR GRID TEMPLATE */
  grid-template-areas:
  'header header header header'
  'main main main side'
  'footer footer footer footer';
}

/* (B) ASSIGN THE AREAS */
.cell {
  padding: 10px;
}
.head {
  grid-area: header;
  background: #ffe5db;
}
.main {
  grid-area: main;
  background: #e3ffdb;
}
.side {
  grid-area: side;
  background: #dbf8ff;
}
.foot {
  grid-area: footer;
  background: #ebebeb;
}
